body {
    min-height: 75rem;
    padding-top: 4.5rem;
}
/* Custom page CSS  */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
}
.footer {
    background-color: #f5f5f5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}

.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
