<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Adicionar Pessoa</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Teste</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
            <li class="nav-item active">
                <a class="nav-link" href="new">Adicionar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#">Link2</a>
            </li>
        </ul>
    </div>
</nav>

<div align="center">
    <h1>Adicionar pessoa</h1>
    </br>
    <form action="#" th:action="@{/save}" th:object="${pessoa}" method="POST">
        <table border="0" cellpadding="10">
            <tr>
                <td>Nome:</td>
                <td><input type="text" required="required" th:field="${pessoa.name}"/></td>
            </tr>
            <tr>
                <td>Sobrenome:</td>
                <td><input type="text" required="required" th:field="${pessoa.lastName}"></td>
            </tr>
            <tr>
                <td>CPF:</td>
                <td><input type="text" required="required" maxlength="14" minlength="11" th:field="${pessoa.CPF}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Salvar</button>
                </td>
            </tr>
        </table>
    </form>

</div>

<script th:src="@{/js/jquerry.mask.js}" type="text/javascript"></script>
<script th:inline="javascript">

    var validarCPF = (cpf) => {
        cpf = cpf.replace(/[^0-9]+/g, '');
        if (!cpf || cpf.length != 11
            || cpf == "11111111111"
            || cpf == "22222222222"
            || cpf == "33333333333"
            || cpf == "44444444444"
            || cpf == "55555555555"
            || cpf == "66666666666"
            || cpf == "77777777777"
            || cpf == "88888888888"
            || cpf == "99999999999")
            return false
        var soma = 0
        var resto
        for (var i = 1; i <= 9; i++)
            soma = soma + parseInt(cpf.substring(i - 1, i)) * (11 - i)
        resto = (soma * 10) % 11
        if ((resto == 10) || (resto == 11)) resto = 0
        if (resto != parseInt(cpf.substring(9, 10))) return false
        soma = 0
        for (var i = 1; i <= 10; i++)
            soma = soma + parseInt(cpf.substring(i - 1, i)) * (12 - i)
        resto = (soma * 10) % 11
        if ((resto == 10) || (resto == 11)) resto = 0
        if (resto != parseInt(cpf.substring(10, 11))) return false
        return true
    }

    $(document).on("CPF", () => {
        var cpfValido = validarCPF(document.querySelector("#CPF")).value;
    })







</script>





</body>
</html>