<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Cadastros</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Teste</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            <li class="nav-item">
                <a class="nav-link" href="new">Adicionar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#">Link2</a>
            </li>
        </ul>

    </div>
</nav>


<div class="container "align="center">
    <h1>Cadastros</h1>
    </br>

    <form class="form-inline" th:action="@{/pessoas}"  method="GET" >
        <input  id=" txtSearch" type="text" name="keyword" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <table class="table" border="1">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pessoa:${pessoasList}">
            <td th:text="${pessoa.id}">Id</td>
            <td th:text="${pessoa.name}">Nome</td>
            <td th:text="${pessoa.lastName}">Sobrenome</td>
            <td th:text="${pessoa.CPF}">CPF</td>
            <td>
                <a th:href="@{'/edit/' + ${pessoa.id}}"><button type="button" class="btn-primary btn-sm">Editar</button></a>
                <a th:href="@{'/delete/' + ${pessoa.id}}"><button type="button" class="btn-danger btn-sm">Deletar</button></a>
            </td>
        </tr>
        </tbody>
    </table>



</div>

</body>
</html>