<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>


    <title>Cadastros</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <svg class="feather">
        <use xlink:href="static/images/more-horizontal.svg#more-horizontal"/>
    </svg>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Teste</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            <li class="nav-item">
                <a class="nav-link" href="new">Adicionar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="registrar">Teste</a>
            </li>
        </ul>

    </div>
</nav>


<div class="container "align="center">
    <h1>Cadastros</h1>
    </br>

    <form class="form-inline" th:action="@{/}"  method="GET" >
        <input  id=" txtSearch" type="text" name="keyword" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>


    <table class="table" border="1">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pessoa:${pessoas}">
            <td th:text="${pessoa.id}">Id</td>
            <td th:text="${pessoa.name}">Nome</td>
            <td th:text="${pessoa.lastName}">Sobrenome</td>
            <td th:text="${pessoa.CPF}">CPF</td>
            <td>

                <div class="btn-group" role="group" aria-label="...">
                    <a th:href="@{'/edit/' + ${pessoa.id}}"><button type="button" class="btn btn-primary" >Editar</button></a>
                    <a th:href="@{'/delete/' + ${pessoa.id}}"><button type="button" class="btn btn-danger ">Deletar</button></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Pagination" th:if="${pessoas.totalPages} &gt; 0">
        <ul class="pagination justify-content-center font-weight-bold">

            <li class="page-item" th:classappend="${pessoas.number eq 0} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/pessoas(page=${pessoas.number &lt; 2 ? 1 : pessoas.number})}"
                   aria-label="Anterior" title="Anterior" data-toggle="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${i eq pessoas.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence(pessoas.number +1 ,
                (pessoas.totalPages > 10 + pessoas.number ? pessoas.number +10 : pessoas.totalPages),1)}">
                <a class="page-link" th:href="@{/pessoas(page=${i})}" th:text="${i}"
                   th:title="${'Página' + i}" data-toggle="tolltip"></a>
            </li>

            <li class="page-item disabled" th:if="${pessoas.number + 10 < pessoas.totalPages}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" width="20" height="20"> . . .</span>
                </a>
            </li>


            <li class="page-item" th:classappend="${pessoas.number + 1 eq pessoas.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/pessoas(page=${pessoas.number + 2})}"
                   aria-label="Próxima" title="Próxima" data-toggle="tooltip">
                    <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"> &raquo;</span>
                </a>
            </li>

        </ul>
    </nav>



</div>

</body>
</html>