<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body>
    <div class="container" align="center"></div>
        <div>
            <h1>Registro feito com sucesso </h1>
            <h3><a th:href="@{/login}">Clique aqui para ir para a página de login</a> </h3>
        </div>
        <div>

        </div>

</body>
</html>